<div class="header-area">
    <app-header></app-header>
</div>
<!-- <div *ngIf="!branchData" class="d-flex w-100  align-center j-center loader">
    <mat-spinner></mat-spinner>
</div> -->
<div class="details-body bg-ws p-t-0 m-t-10">
    <div class=" m-r-20 h-100  container-fluid d-flex ">
        <div class="w-20 m-b-20 l-bar  left-menu m-t-30 ">
            <app-left-menu [branchData]="branchData" (selectMachineEvent)="selectMachineView($event)"
                (selectRouteEvent)="selectRouteView($event)" (selectTechnicianEvent)="selectTechnicianView($event)"
                (selectLocationEvent)="selectLocationView($event)" [selectedBranch]="selectedBranch"
                (branchSelectEvent)="currentbranchSelect($event)"></app-left-menu>
        </div>
        <div class=" w-80 p-t-5 min-ht-container m-l-5 m-b-0 p-relative">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>