
    <div class="item-box" (drop)="itDrp($event)" (mouseleave)="leaveDrp($event)"  (dragover)="getDivPosition($event)"  (dragleave)="leaveDropArea($event)">
        <div *ngIf="!branchData"  class=" m-b-10 p-t-15 p-b-15 p-10 ctr">
            <ngx-skeleton-loader
            count="1"
            [theme]="{ 'border-radius': '6px', height: '32px' ,'margin-top':'10px'}"
          ></ngx-skeleton-loader>
            <ngx-skeleton-loader  animation="progress" [theme]="{ 'border-radius': '0', height: '15px','padding':'10px' }"></ngx-skeleton-loader>
            <ngx-skeleton-loader
                [theme]="{
                width: '60%',
                'border-radius': '0',
                height: '10px',
                'padding':'10px'
                }"
            ></ngx-skeleton-loader>
            <ngx-skeleton-loader
                [theme]="{
                width: '80%',
                'border-radius': '0',
                height: '10px',
                'padding':'10px'
                }"
            ></ngx-skeleton-loader>
            <ngx-skeleton-loader
                [theme]="{
                width: '60%',
                'border-radius': '0',
                height: '10px',
                'padding':'10px'
                }"
            ></ngx-skeleton-loader>
            <ngx-skeleton-loader  animation="progress" [theme]="{ 'border-radius': '0', height: '15px','padding':'10px' }"></ngx-skeleton-loader>

            <ngx-skeleton-loader
                [theme]="{
                width: '60%',
                'border-radius': '0',
                height: '10px',
                'padding':'10px'
                }"
            ></ngx-skeleton-loader>
            <ngx-skeleton-loader
                [theme]="{
                width: '60%',
                'border-radius': '0',
                height: '10px',
                'padding':'10px'
                }"
            ></ngx-skeleton-loader>
        </div>        
        <div *ngIf="branchData" class="  m-b-10  p-t-10 p-b-15  ctr">
            <!-- <div class="d-flex align-center search-bar p-l-10 p-r-10 p-t-5">
                <input class="f-s-13 p-5" type="text" placeholder="Search">
                <div class="s-button d-flex align-center j-center"><i class="fa fa-search fa-flip-horizontal"
                        style="color:rgb(242, 242, 242) !important;"></i></div>
            </div> -->
            <div class="w-100 m-t-15 m-l-0 m-r-0  ">
                <ng-container *ngFor="let branch of branchData">
                    <div class="branch flex-column m-t-10">
                        <div class="d-flex  align-center  w-100 p-l-10 p-t-2 p-b-2"
                            [ngClass]="(branch?.selected)? 'selected f-w500' : ''">
                            <div class="m-r-8 icon d-flex align-center j-center">
                                <img class="c-pointer" (click)="shrinkBranch(branch)" *ngIf="branch?.dropped"
                                    src="assets/icons/down2.png" alt="" height="65%" width="65%">
                                <img class="c-pointer" (click)="expandBranch(branch)" *ngIf="!branch?.dropped"
                                    src="assets/icons/right2.png" alt="" height="65%" width="65%">
                            </div>
                            <div (click)="currentbranchSelect(branch)" [ngClass]="(branch?.showLocationsList || branch?.showRoutesList || branch?.showMachinesList) ? 'selected-item f-w500' : ''"
                                class="route d-flex align-center c-pointer">
                                <img src="assets/icons/ios-git-branch-3.svg" alt="" height="19px" width="18px">
                                <div class=" f-s-13 f-w-400" >{{branch?.Branch_Name}}</div>
                            </div>
                        </div>
                        <ng-container *ngIf="branch?.dropped">
                            
                            <div [ngClass]="(branch?.showMachinesList) ? 'selected f-w500' : ''" class="p-l-30 m-t-5 f-s-13 p-t-2 p-b-2 d-flex align-center  w-100 m-r-2 ">
                                <img src="assets/icons/machinery.svg" alt="" height="14px" width="16px" class="m-l-4"> 
                                <span (click)="showMachinesList(branch)" class="m-l-3 hover-highlight c-pointer f-s-12 disable">Machinery <span class="count">({{branch?.Machine_count}})</span> </span>
                            </div>
                            <div class="p-l-30 m-t-5 f-s-13 p-t-2 p-b-2" title="This feature is coming soon">
                                <div class="d-flex w-100 align-center ">
                                    <!-- <div class="fa fa-angle-right angle fa-fw"></div> -->
                                    <div class="d-flex align-center  w-100"><img
                                            src="assets/icons/dollar.png" alt="" height="15px"
                                            width="15px" class="m-l-4"> <span class="m-l-4 hover-highlight f-s-12 disable c-pointer">Collections <span class="count">(${{branch?.Total_Collection}})</span></span> </div>
                                </div>
                            </div>
                            <div class="p-l-30 m-t-5 f-s-13 p-t-2 p-b-2" title="This feature is coming soon">
                                <div class="d-flex w-100 align-center ">
                                    <!-- <div class="fa fa-angle-right angle fa-fw"></div> -->
                                    <div class="d-flex align-center  w-100"><img src="assets/icons/technician.svg"
                                            alt="" height="14px" width="15px" class="m-l-4"> <span class="m-l-3 p-t-4 hover-highlight f-s-12 disable c-pointer">Technicians
                                                <span class="count">({{branch?.Technician_Count}})</span></span> </div>
                                </div>
                            </div>
                          
                            <div [ngClass]="(branch?.showRoutesList) ? 'selected f-w500' : ''" class="p-l-30 m-t-5 f-s-13 p-t-2 p-b-2 d-flex align-center  w-100 m-r-2 ">
                                <img src="assets/icons/route.svg" alt="" height="14px" width="16px" class="m-l-4">
                                <span (click)="showRoutesList(branch)"  class="m-l-4 max-h hover-highlight f-s-12 disable c-pointer" >Routes <span class="count">({{branch?.Route_Count}})</span></span> 
                            </div>
                            <div [ngClass]="(branch?.showLocationsList) ? 'selected f-w500' : ''" class="p-l-30 m-t-5 f-s-13 p-t-2 p-b-2 d-flex align-center  w-100 m-r-2 ">
                                <img src="assets/icons/multiplelocations.svg" alt="" height="16px" width="16px" class="m-l-4">
                                <span (click)="showLocationsList(branch)"  class="m-l-4 max-h hover-highlight f-s-12 disable c-pointer" >Locations <span class="count">({{branch?.Location_Count}})</span></span> 
                            </div>
                            <!-- <div class=" m-t-5 f-s-13 p-t-2 p-b-2"  >
                                <div class="p-l-30 d-flex w-100 align-center "
                                    [ngClass]="(branch?.showLocationsList) ? 'selected' : ''">
            
                                    <div (click)="showLocationsList(branch)"
                                        class="d-flex align-bottom  w-100 p-t-2 p-b-2 c-pointer "><img
                                            src="assets/icons/multiplelocations.png" alt="" height="16px" width="14px"
                                            class="hover-highlight m-l-2"> <span class="m-l-4 max-h hover-highlight"
                                            [ngClass]="(branch?.showLocationsList)? 'selected' : ''">Locations
                                            <span class="count">({{branch?.Location_Count}})</span> </span> </div>
                                </div>
                                <ng-container *ngIf="branch?.routesDropped">
                                    <div class="p-l-30 d-flex w-100 align-center m-t-5 ">
                                        <i
                                            class="fa fa-angle-right f-s-14 c-pointer p-r-2 fa-fw hover-highlight p-t-5 p-b-5"></i>
                                        <div
                                            class="unrouted d-flex align-bottom   m-r-10 w-100 p-t-5 p-b-5 f-w-500 f-s-12 hover-highlight">
                                            <img src="assets/icons/unrouted2.png" alt="" height="13px"
                                                width="15px"> <span class="m-l-2">Unrouted</span> </div>
                                    </div>
                                    <div  #cursorDrop  [style.top.px]="yPos" [style.left.px]="xPos" class="v-hidden circle flex-column ">
                                        <div class="flex-start d-flex"  ><img src="assets/icons/loc-bg3.png" width="28px" height="28px" alt=""></div>
                                        <div class="j-center m-l-5 d-flex "> <div class=" square f-s-12 f-w-500  bg-green d-flex align-center j-center">{{draggeditem?.length}}</div></div>
                                    </div>
                                   
                                </ng-container>
                            </div> -->
                        </ng-container>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
